body {
  background-color: #bc544b;
}

#container {
  direction: rtl;
  width: 50%;
  height: 80vh;
  padding: 1%;
  margin-top: 5%;
  margin-left: 24%;
  border-radius: 5px;
  color: #a2a2a2;
  background-color: #990f02;
  box-shadow: 2.8px 2.8px 2.4px -5px rgba(0, 0, 0, 0.022),
    6.7px 6.7px 5.7px -5px rgba(0, 0, 0, 0.038),
    12.5px 12.5px 10.6px -5px rgba(0, 0, 0, 0.05),
    22.3px 22.3px 19px -5px rgba(0, 0, 0, 0.059),
    41.8px 41.8px 35.5px -5px rgba(0, 0, 0, 0.064),
    100px 100px 85px -5px rgba(0, 0, 0, 0.05);
}

h3 {
  text-align: center;
}

.heightContainer {
  padding-top: 5%;
  padding-right: 32%;
}

.weightContainer {
  padding-top: 3%;
  padding-right: 32%;
}

#calculate {
  width: 15%;
  height: 30px;
  margin-top: 5%;
  margin-right: 40%;
  color: #a2a2a2;
  border-radius: 5px;
  border: solid 0.5px #a2a2a2;
  background-color: #7e2811;
}

#calculate:hover {
  background-color: #bc544b;
}

#weight,
#height {
  display: flex;
  width: 45%;
  height: 40px;
  border-radius: 3px;
  background-color: #990f02;
  border: solid 0.5px #a2a2a2;
}
