body {
  margin: 0;
  padding: 0;
  background-color: #0067a5;
}

h1,
h2 {
  color: #e6ecef;
  text-align: center;
  text-shadow: 2px 1px 0 #000;
}

.background {
  padding: 1%;
  margin-top: 10%;
  overflow: hidden;
  background-color: #6da9d2;
}

.container {
  display: flex;
  justify-content: center;
}

.colors {
  width: 3%;
  height: 40px;
  margin: 2%;
  margin-top: 5%;
  border-radius: 50%;
  border: solid 5px #e6ecef;
  background-color: #00a693;
}

.colors:hover {
  cursor: pointer;
  background-color: #0067a5;
}
